/* Place your CSS styles in this file */
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "superkids";
  src: url(Super\ Kinds.ttf);
}

.logo {
  font-family: "superkids";
  font-size: 32px;
  color: #B59F78;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  background-color:#B59F78;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}
